<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'> -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="../stylesheets/flexslider.css" rel="stylesheet" >
    <link href="../stylesheets/styles.css" rel="stylesheet">
    <link href="../stylesheets/queries.css" rel="stylesheet">
    <link href="../stylesheets/animate.css" rel="stylesheet">
  </head>
  <body id="top">
    <header id="home">
      <section class="hero" id="hero">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center inner">
              <h1 class="animated fadeInDown"><span>What is your Company called?</span></h1>
              <p class="animated fadeInUp delay-05s">This is super duper duper super not important.</p>
              <%= simple_form_for @company do |f| %>
              <%= f.input :name , label:false%>
            </div>
          </div>
        </div>
      </section>
      <section class="hero" id="hero">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <h1 class="animated fadeInDown"><span>Is your company currently operating, IPO, aquired, or closed?</span></h1>
              <p class="animated fadeInUp delay-05s">Its gotta be one of those, its gotta, sorry.</p>
              <%= f.input :status , label:false, collection: [:Operating, :IPO, :Aquired, :Closed] %>
            </div>
          </div>
        </div>
      </section>
      <section class="hero" id="hero">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <h1 class="animated fadeInDown"><span>What market are you in?</span></h1>
              <p class="animated fadeInUp delay-05s">Music Services, Social Media or something else that is hopefully really cool.</p>
              <%= f.input :market , label:false%>
            </div>
          </div>
        </div>
      </section>
      <section class="hero" id="hero">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <h1 class="animated fadeInDown"><span>What country and city are you based out of?</span></h1>
              <p class="animated fadeInUp delay-05s">Country, then City that is.</p>
              <%= f.input :country , label:false%>
              <%= f.input :city , label:false%>
            </div>
          </div>
        </div>
      </section>
      <section class="hero" id="hero">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <h1 class="animated fadeInDown"><span>How much total funding do you have so far?</span></h1>
              <p class="animated fadeInUp delay-05s">CA$H MON3Y</p>
              <%= f.input :funding_value , label:false%>
            </div>
          </div>
        </div>
      </section>
      <section class="hero" id="hero">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <h1 class="animated fadeInDown"><span>How many rounds have you gone through?</span></h1>
              <p class="animated fadeInUp delay-05s">Sorry, this is a long form..</p>
              <%= f.input :funding_rounds , label:false%>
            </div>
          </div>
        </div>
      </section>
      <section class="hero" id="hero">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <h1 class="animated fadeInDown"><span>When was your first round?</span></h1>
              <p class="animated fadeInUp delay-05s">Time flies by doesn't it.</p>
              <%= f.input :first_round_date , label:false, as: :date, order: [:year, :month, :day]%>
            </div>
          </div>
        </div>
      </section>
      <section class="hero" id="hero">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <h1 class="animated fadeInDown"><span>When was your last round?</span></h1>
              <p class="animated fadeInUp delay-05s">Hope it was a good one!</p>
              <%= f.input :last_round_date , label:false, as: :date, order: [:year, :month, :day]%>
            </div>
          </div>
        </div>
      </section>
      <section class="hero">
        <div class="container">
          <div class="row">
            <div class="text-center">
            <%= f.submit "Classify!", class: "ignite-btn"%>
            <% end %>
            </div>
          </div>
        </div>
      </section>
    </header>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="legals">
            </ul>
          </div>
          <div class="col-md-6 credit">
            <a><p>Crafted by Ben Bogusat and Yilun Chen.</p> <a><p>Special thanks to our Nigel Taymoor. </p> Designed by Peter Finlan exclusively for <a href="http://tympanus.net/codrops/"><em>Codrops.</em></a></a></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/waypoints.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
    <script src="../js/jquery.flexslider.js"></script>
    <script src="../js/modernizr.js"></script>


    <style>
      body {margin:0;}
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #40bc86;
        position: fixed;
        top: 0;
        width: 100%;
        opacity: 0.7;
      }
      li a {
        display: block;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li b {
        font-weight: lighter;
        display: block;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover:not(.active) {
        background-color: #fff;
      }
      .active {
        background-color: #40bc86;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
      .bold-and-big {
        font-weight: bolder;
        font-size: 15px;
      }
    </style>

    <ul>
    <% if current_user %>
      <li><a class="right" href="../users/sign_out">Sign out</a></li>
      <li><a class="right" href="#thing1">My Account</a></li>
      <li><a class="right" href="#thing2">My Companies</a></li>
      <li><b class="right" href="#"> Welcome <%= current_user.email %></b></li>
    <% else %>
      <li><a class="right" href="../users/sign_in"> Log in </a></li>
      <li><a class="right" href="../users/sign_up"> Sign up </a></li>
    <% end %>
    <li><a class="left bold-and-big" href="/"> Home </a></li>
    </ul>
  </body>
</html>
