<h1> Is your startup dying? </h1>

<%= form_tag classify_path do %>
  <%= label_tag :name, "What's your startup's name?" %>
  <%= text_area_tag :name %>
  <%= label_tag :status, "Is it operating, aquired, ipo, or closed?" %>
  <%= text_area_tag :status %>
  <%= label_tag :market, "What market category is the company in?" %>
  <%= text_area_tag :market %>
  <%= label_tag :country, "What country is it in?" %>
  <%= text_area_tag :country %>
  <%= label_tag :city , "What city is it in?" %>
  <%= text_area_tag :city %>
  <%= label_tag :funding_value , "How much have you raised?" %>
  <%= text_area_tag :funding_value %>
  <%= label_tag :funding_rounds , "How many rounds have you gone through?" %>
  <%= text_area_tag :funding_rounds %>
  <%= label_tag :first_round_date , "When did you have your first round? (YYYY-MM-DD)" %>
  <%= text_area_tag :first_round_date %>
  <%= label_tag :last_round_date , "When was your last round? (YYYY-MM-DD)" %>
  <%= text_area_tag :last_round_date %>
  <%= submit_tag "Classify it!" %>
<% end %>
